node_modules
.git
.DS_Store

*.csv
/tmp/*
dist/
_test_
.vscode
scripts/verify-commit-msg.js

.eslintrc.json
.gitignore
.editorconfig
.prettierrc
.prettierignore
Dockerfile
LICENSE
README.md
TODO.md
renovate.json